APP_NAME=task-management-system
APP_ENV=production
APP_PORT=8585

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change-this-strong-password
DB_NAME=task_management_system
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

JWT_SECRET=change-this-to-long-random-secret
JWT_EXPIRES_HOURS=24

CLOUDFLARE_TUNNEL_TOKEN=replace-with-cloudflare-tunnel-token
